Html{
    width: 50px;
}
Python{
    width: 50px;
}
Java{
    width: 50px;
}
JavaScript{
    width: 50px;
}
Markdawn{
    width: 50px;
}
VisualSC{
    width: 50px;
}
VSC{
    width: 50px;
}
pyc text{
    width: 50px;
}
intellij{
    width: 50px;
}
git{
    width: 50px;
}
github{
    width: 50px;
}
mysql{
    width: 50px;
}